# SPDX-License-Identifier: GPL-2.0-only

config TOUCHSCREEN_GOODIX_BERLIN_MMI
	tristate "Goodix Berlin touchscreen driver (MMI)"
	help
	  Goodix Berlin series touchscreen driver for Motorola
	  devices with MMI extensions.
